/* Common Style for All Pages i.e NavBar */
body {
    background: rgb(50, 160, 160);
}

/* Style for Data.html */
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }